<ion-view view-title="Feeds">
  <ion-content class="padding">
    <!-- in the class below add ng-repeat and change image, name and other stuff according to live data -->

    <!-- Card view of the items -->
    <div ng-repeat="item in items">
      <div class="card" ng-click="fullView('sampleTitle', 'sampleBody', 'imgUrl')">
        <h3 class="teaser-title">This is the title of our feed</h3>
        <div class="teaser-container">
          <img class="teaser-image" src="../../img/lsbuLogo.png">
          <p class="teaser-body">{{::item.value | htmlToPlaintext}}
            <span class="teaser-more" ng-click="fullView('sampleTitle', 'sampleBody', 'imgurl')">read more</span>
          </p>
        </div>
      </div>
    </div>
    <!-- End Main grid -->
    <!-- Infinite scroll directive -->
    <ion-infinite-scroll
      ng-if="check()"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
